<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <form action="/" method="post">
        <div class="fullpage">
            <div class="left">
                <h1>ABC HOSPITALS</h1>
                <div class="centrecontentbox">
                    <h1>Login Page</h1>
                    <div class="inputbox">
                        <span>Username:</span>
                        <input type="text" class="box" name="username">
                    </div>
                    <div class="inputbox">
                        <span>Password:</span>
                        <input type="password" class="box" name="password">
                    </div>
                    <div class="buttonbox">
                        <button type="submit">Login</button>
                    </div>
                </div>
            </div>
            <div class="right">         
            </div>
        </div>
    </form>
</body>
</html>