* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.left-page {
    padding-top: 45px;
    width: 20%;
    border-right: 7px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgb(73,117,196);
    background: -moz-linear-gradient(120deg, rgba(73,117,196,1) 0%, rgba(40,21,211,1) 32%, rgba(151,162,239,1) 100%);
    background: -webkit-linear-gradient(120deg, rgba(73,117,196,1) 0%, rgba(40,21,211,1) 32%, rgba(151,162,239,1) 100%);
    background: linear-gradient(120deg, rgba(73,117,196,1) 0%, rgba(40,21,211,1) 32%, rgba(151,162,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4975c4", endColorstr="#97a2ef", GradientType=1);
}

.left-inner {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 150px;
    padding-left: 20px;
}

.tagbutton {
    text-decoration: none;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 21px;
}

.tagbutton:hover {
    border-bottom: 2px solid white;
}

.right-page {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    height: 730px;
    margin-left: 10px;
    margin-right: 10px;
}
table,td{
    border: 1px solid black;
    height: 40px;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}
td{
    padding-left: 10px;
}
.hreftag{
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    background-color: darkblue;
    color: white;
    border:none;
}
.hreftag:hover{
    background-color:white;
    color: darkblue
}
.deletebutton{
    width: 70px;
    height: 30px;
    border: none;
    background-color:red;
    color: white;
}
.deletebutton:hover{
    background-color:white;
    color: red;
}
