*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fullpage{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.left{
    position: relative;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
}

/*
.left::after{
    content: '';
    position: absolute;
    left: -6.1rem;
    top: 50%;
    transform: (-50%) rotate(20deg);
    width: 70%;   
}
*/

.right{
    position: relative;
    background-image: url("https://images.assettype.com/fortuneindia%2F2022-04%2Fe84e75e6-468d-411e-af42-2f6341a3481b%2FGettyImages_1296010649.jpeg?rect=0,411,6698,3768&w=1250&q=60");
    width: 62%;
    height: 730px;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1{
    height: 100%;
    width: 100%;
}
.centrecontentbox{
    margin-top: 35px;
    background-color: white;
    width: 400px;
    height: 400px;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.box{
    width: 220px;
    height: 40px;
    border-radius:10px;
    padding-left:20px ;
}
.inputbox{
    width: 80%;
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.inputbox span{
    font-size:22.5px;
}
.buttonbox{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.buttonbox button{
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
