*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    flex-direction: row;
}
.left-page{
    padding-top: 45px;
    width: 20%;
    border-right:7px solid black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgb(73,117,196);
background: -moz-linear-gradient(120deg, rgba(73,117,196,1) 0%, rgba(40,21,211,1) 32%, rgba(151,162,239,1) 100%);
background: -webkit-linear-gradient(120deg, rgba(73,117,196,1) 0%, rgba(40,21,211,1) 32%, rgba(151,162,239,1) 100%);
background: linear-gradient(120deg, rgba(73,117,196,1) 0%, rgba(40,21,211,1) 32%, rgba(151,162,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4975c4",endColorstr="#97a2ef",GradientType=1);
}
.tagbutton{
    text-decoration: none;
    color: white;
    width: 120px;
    height: 30px;
    font-size: 21px;
}
.tagbutton:hover{
    border-bottom: 2px solid white;
}
.right-page{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    height: 730px;
}
.contentbox{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.inputbox{
    display: flex;
    width: 550px;
    height: 50px;
    justify-content: space-between;
}
.inputbox span{
    font-size: 20px;
}
.inputbox input{
    width: 220px;
    border-radius: 20px;
    padding-left: 20px;
}
.savebutton{
    width: 120px;
    height: 45px;
    background-color: black;
    border-radius: 10px;
    color: azure;
    font-size: 20px;
}
.savebutton:hover {
    background-color: greenyellow;
    color: black;
    border: none;
}
.left-inner{
    height: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    padding-left: 20px;
    justify-content: space-around;
}